<div class="carousel track-row">
  TEST
  <div class="row track-row">
    <img src="https://www.placecage.com/200/200" alt="">
    <img src="https://www.placecage.com/208/208" alt="">
    <img src="https://www.placecage.com/207/207" alt="">
    <img src="https://www.placecage.com/206/206" alt="">
    <img src="https://www.placecage.com/205/205" alt="">
    <img src="https://www.placecage.com/201/201" alt="">
    <img src="https://www.placecage.com/202/202" alt="">
    <img src="https://www.placecage.com/203/203" alt="">
    <img src="https://www.placecage.com/204/204" alt="">
    <img src="https://www.placecage.com/209/209" alt="">
  </div>
</div>
<div class="carousel artist-row">
  TEST
  <div class="row artist-row">
    <img src="https://www.placecage.com/205/205" alt="">
    <img src="https://www.placecage.com/204/204" alt="">
    <img src="https://www.placecage.com/203/203" alt="">
    <img src="https://www.placecage.com/202/202" alt="">
    <img src="https://www.placecage.com/201/201" alt="">
    <img src="https://www.placecage.com/206/206" alt="">
    <img src="https://www.placecage.com/207/207" alt="">
    <img src="https://www.placecage.com/208/208" alt="">
    <img src="https://www.placecage.com/209/209" alt="">
    <img src="https://www.placecage.com/200/200" alt="">
  </div>
</div>
<div class="carousel album-row">
  TEST
  <div class="row album-row">
    <img src="https://www.placecage.com/201/201" alt="">
    <img src="https://www.placecage.com/202/202" alt="">
    <img src="https://www.placecage.com/203/203" alt="">
    <img src="https://www.placecage.com/204/204" alt="">
    <img src="https://www.placecage.com/205/205" alt="">
    <img src="https://www.placecage.com/206/206" alt="">
    <img src="https://www.placecage.com/207/207" alt="">
    <img src="https://www.placecage.com/208/208" alt="">
    <img src="https://www.placecage.com/209/209" alt="">
    <img src="https://www.placecage.com/200/200" alt="">
  </div>
</div>
